<div  class="outer">
    <div class="container">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel border bg-white">   
            <div class="panel-heading"> 
                <h3 class="pt-3 font-weight- bol">Register</h3>
            </div>  
            <div class="panel-body p-3">
                <form [formGroup]="loginForm">
                    <!-- firstname -->
                    <div class="form-group pt-3">
                        <div class="input-field"[class.error]="loginForm.controls['firstname'].dirty && loginForm.hasError('required','firstname')">	
                            <span class="fa fa-user p-2"></span>
                                <input formControlName="firstname" type="text" placeholder="Firstname">
                        </div>
                    </div>
                    <small *ngIf="loginForm.controls['firstname'].dirty && loginForm.hasError('required','firstname')" class="text-danger">*Firstname is required</small>
                    <!-- firstname end -->

                           <!-- LastName -->
                           <div class="form-group pt-3">
                            <div class="input-field" >	
                               
                                <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="LastName">
                            </div>
                        </div>
                        <!-- <small *ngIf="loginForm.controls['lastname'].dirty && loginForm.hasError('required','lastname')" class="text-danger">*Lastname is required</small> -->

                        <!-- lastname end -->
                        
                           <!-- Email -->
                           <div class="form-group pt-3">
                            <div class="input-field"[class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">	
                                <span class="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email Id">
                            </div>
                        </div>
                        <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-danger">*Email id is required</small>
                        <!-- Email end -->

                        
                     <!-- username start name -->
                     <div class="form-group pt-3">
                        <div class="input-field"[class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">	
                            <span class="fa fa-user p-2"></span>
                                <input formControlName="username" type="text" placeholder="userame">
                        </div>
                    </div>
                    <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Username is required</small>
                    <!-- username ends -->

                    <!-- start password -->
                    <div class="form-group pt-3">
                        <div class="input-field" >	
                            <span class="fa fa-lock p-2"></span>
                              
                                <input formControlName="password" [type]="type" placeholder="password">
                             <span  (click)="hideshowpass()" class="fa {{eyeIcon}}"></span>
                        </div>
                    </div>
                    <!-- <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password is required</small> -->

                    <div class="form-inline fr mt-4">
                        <a  id="forget" class="font-weight-bold">Forget Password?</a>
                    </div>
                    <!-- password End -->
                    <button (click)="onsubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                    <div class="text-center pt-4 text-muted">Already have account? 
                        <a id="forget" routerLink="/login" >Login</a>
                    </div>
                    
                </form>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
